@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: 0px;
    outline: 0;
    appearance: none;
}
:root{
    --text-color: #000;
    --second-text-color: #878b8f;
    --hover-color: #6f6af8;
    --bg-color: #f0f0f9;
    --second-bg-color: #fff;
    --icon-color: #232b70;
    --box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    --box-border-radius: 10px;
    --page-padding: 20px 10%;
    --card-box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.5) 0px 1px 1px 0px;
}
body{
    font-family: 'Poppins', sans-serif;
    background: var(--bg-color);
    overflow-x: hidden;
    width: 100%;
    height: 100vh;
}
.container{
    width: 96%;
    margin: auto;
    display: grid;
    grid-template-columns: 12rem auto 18rem;
    grid-gap: 1rem;
    height: 100%;
}
.logo img{
    max-width: 100%;
    width: 40px;
    height: auto;
}
aside{
    background: var(--second-bg-color);
    border-radius: var(--box-border-radius);
    height: 95vh;
    width: 100%;
    box-shadow: var(--box-shadow);
    margin-top: 1rem;
}
.navigation{
    padding: .8rem;
}
.top-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}
.top-list .logo{
    display: flex;
    align-items: center;
    gap: .3rem;
    color: var(--text-color);
}
.top-list #closeBtn{
    padding: 3px;
    background: var(--hover-color);
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
.top-list #closeBtn ion-icon{
    font-size: 1.4rem;
    color: #ffff;
}
main{
    background: #dddd;
}
.right-side{
    background: #878b8f;
}